@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-flex {
    @apply flex justify-between max-w-7xl mx-auto items-center;
  }
}
.active-menu::before{
    content: " ";
    border-bottom-color: #00abc5;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: 11px;
    left: 46%;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s infinite
}

.active-menu-down::before{
  content: " ";
  border-bottom-color: #00abc5;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: -20px;
  left: 50%;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  transform: translate(-50%, -50%);
}

@keyfames fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}