@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-flex {
    @apply flex justify-between max-w-7xl mx-auto items-center;
  }
}
.active-menu::before{
    content: " ";
    border-bottom-color: #00abc5;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: 11px;
    left: 46%;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s infinite
}

.active-menu-down::before{
  content: " ";
  border-bottom-color: #00abc5;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: -20px;
  left: 50%;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  transform: translate(-50%, -50%);
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::before{
  background-color: #dddddd;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
  animation: skeletonLoading 1s infinite alternate;
}

.styleIcon {
  height: 40px !important;
  width: 40px !important;
}

.ring-circle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #9c191e;
  border-radius: 50%;
  position: absolute;
  animation: ring 1s linear infinite;
}

.ring-background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 15px solid #f3f4f6;
  border-radius: 50%;
  position: absolute;
  animation: ringbackground 1s linear infinite;
}

.img-rotate {
  animation: rotate 3s linear infinite alternate;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 6px solid #00abc5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00abc5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring-button {
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring-button div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.lds-ring-button div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-button div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-button div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes skeletonLoading {
  from {
    left: -50%;
  } to {
    left: 50%;
  }
}

@keyfames fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes ringbackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}

@keyframes ring {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}